:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;
    --color-primary: #2ebd59; /* Красивый сочный зеленый для светлой темы */
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #1b8a3f; /* Чуть более темный зеленый для темной темы */
    --color-primary-disabled: #143d22; /* Темно-зеленый для отключенных кнопок */
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}
